<html>
<head>

<script src="jquery-1.11.3.min.js"></script>
<script src="../results/resultJson"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
function createChart(id, data) {
var disciplined = [], undisciplined = [], loc = []
for (i = 0; i < data.y.length; i++) {	
	disciplined.push(parseInt(data.y[i][1]));
	undisciplined.push(parseInt(data.y[i][0]));
	loc.push(parseInt(data.y[i][2]));
}
$('#' + id).highcharts({
        title: {
            text: 'Code Analisys',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: GNOME/DIA',
            x: -20
        },
        xAxis: {
	title: {
                text: 'Commits'
            },
            categories: data.x
        },
        yAxis: {
            title: {
                text: 'Number'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Disciplined',
            data: disciplined
        }, {
            name: 'Undisciplned',
            data: undisciplined
        }, {
            name: 'Number of lines',
            data: loc
        }]
    });

}
$(function () {
	for (var key in info) {
	  if (info.hasOwnProperty(key)) {
		console.log('here we go');
		$('#container').append('<div id="chart-' + key + '" style="min-width: 310px; height: 400px; margin: 0 auto"></div>');
		createChart('chart-' + key, info[key]);
	  }
	}
    
});
</script>


</head>
<body>
<div id="container"></div>
</body>
</html>
